@model PiplikaTaskUI.Models.AddEmployeeViewModel
@{
    ViewData["Title"] = "Create";
}

<style>
    span{
        color:red;
    }
</style>


<div class=" card  shadow-sm mb-2 p-3 ">
    <div class="row">
    <div class="col-8">
        <form asp-action="Create" asp-controller="Employees" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row mb-2">
                    <label class="col-form-label col-3">Employee Name<span>*</span></label>
                    <div class="col-8">
                        <input asp-for="EmployeeName" class="form-control" />
                    </div>
                    <div class="col-2">
                        <span asp-validation-for="EmployeeName" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-2">
                    <label class="col-form-label col-3">Father Name<span>*</span></label>
                    <div class="col-8">
                        <input asp-for="FatherName" class="form-control" />
                    </div>
                    <div class="col-2">
                        <span asp-validation-for="FatherName" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-2">
                    <label class="col-form-label col-3">Mother Name<span>*</span></label>
                    <div class="col-8">
                        <input asp-for="MotherName" class="form-control" />
                    </div>
                    <div class="col-2">
                        <span asp-validation-for="MotherName" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-2">
                    <label class="col-form-label col-3">Username<span>*</span></label>
                    <div class="col-8">
                        <input asp-for="Username" class="form-control" />
                    </div>
                    <div class="col-2">
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-2">
                    <label class="col-form-label col-3">Email<span>*</span></label>
                    <div class="col-8">
                        <input asp-for="Email" class="form-control" />
                    </div>
                    <div class="col-2">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-2">
                    <label class="col-form-label col-3">Mobile Number<span>*</span></label>
                    <div class="col-8">
                        <input asp-for="MobileNo" class="form-control" />
                    </div>
                    <div class="col-2">
                        <span asp-validation-for="MobileNo" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-2">
                    <label class="col-form-label col-3">Date of Birth<span>*</span></label>
                    <div class="col-8">
                        <input asp-for="DateOfBirth" class="form-control" type="date" />
                    </div>
                    <div class="col-2">
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-2">
                    <label class="col-form-label col-3">Gender<span>*</span></label>
                    <div class="col-8">
                        <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-2">
                    <label class="col-form-label col-3">Blood Group<span>*</span></label>
                    <div class="col-8">
                        <select asp-for="BloodGroup" asp-items="Html.GetEnumSelectList<BloodGroup>()" class="form-control">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <span asp-validation-for="BloodGroup" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-2">
                    <label class="col-form-label col-3">User Status<span>*</span></label>
                    <div class="col-8">
                        <select asp-for="UserStatus" asp-items="Html.GetEnumSelectList<UserStatus>()" class="form-control">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <span asp-validation-for="UserStatus" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-2">
                    <label class="col-form-label col-3">Education<span>*</span></label>
                    <div class="col-8">
                        <input asp-for="Education" class="form-control" />
                    </div>
                    <div class="col-2">
                        <span asp-validation-for="Education" class="text-danger"></span>
                    </div>
                </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>
<div>
    <a asp-action="Index" class="btn btn-info mt-2"> <i class="fa fa-arrow-circle-left"></i>Back to List</a>
</div>
